In [1]:
import pandas as pd
import numpy as np

In [2]:
train_main_df = pd.read_csv(r'data\train_main_data.csv')
train_additional_df = pd.read_csv(r'data\train_additional_data.csv')

In [3]:
test_main_df = pd.read_csv(r'data\test_main_data.csv')
test_additional_df = pd.read_csv(r'data\test_additional_data.csv')

In [4]:
test_main_df.head()

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,apartment condition,sub_area
0,74544,2014-03-11,39,NaN,6.0,1.0,1.0,NaN,1.0,1.0,1.0,72
1,78384,2014-12-31,34,NaN,2.0,17.0,1.0,NaN,1.0,0.0,NaN,86
2,30355,2012-08-16,29,18.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,12
3,16306,2013-05-02,55,37.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,118
4,48126,2013-03-07,32,16.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,28

In [5]:
train_main_df = train_main_df.sort_values(by='timestamp')
train_ids = train_main_df.id.drop_duplicates()
train_df = train_main_df[:round(len(train_ids) * 0.7)]
valid_df = train_main_df[round(len(train_ids) * 0.7):]

In [6]:
train_df.shape

(20300, 13)

In [7]:
valid_df.shape

(8700, 13)

In [8]:
train_df = train_df.rename(columns={'apartment condition': 'apartment_condition'})
valid_df = valid_df.rename(columns={'apartment condition': 'apartment_condition'})
test_main_df = test_main_df.rename(columns={'apartment condition': 'apartment_condition'})

In [9]:
test_main_df.columns

Index(['id', 'timestamp', 'full_sq', 'life_sq', 'floor', 'max_floor',
       'material', 'build_year', 'num_room', 'kitch_sq', 'apartment_condition',
       'sub_area'],
      dtype='object')

In [16]:
test_main_df.build_year.value_counts()

build_year
2014.0    31
2015.0    23
1972.0    17
0.0       17
1970.0    15
          ..
1995.0     1
1927.0     1
4965.0     1
1955.0     1
1950.0     1
Name: count, Length: 74, dtype: int64

In [12]:
test_main_df.isna().sum()

id                       0
timestamp                0
full_sq                  0
life_sq                214
floor                    6
max_floor              321
material               321
build_year             452
num_room               321
kitch_sq               321
apartment_condition    453
sub_area                 0
dtype: int64