In [9]:
import pandas as pd
import numpy as np
from utils import *


pd.set_option('display.max_columns', 50)

%run "01. Separating training and testing sets.ipynb"

In [10]:
valid_df.isna().sum()

id                        0
timestamp                 0
full_sq                   0
life_sq                1955
floor                     0
max_floor                 0
material                  0
build_year             1786
num_room                  0
kitch_sq                  0
apartment_condition    1338
sub_area                  0
price                     0
dtype: int64

In [11]:
train = preprocess(train_df, train_additional_df)
valid = preprocess(valid_df,train_additional_df)

In [12]:
train.isna().sum()

id                                    0
timestamp                             0
full_sq                               0
life_sq                               0
floor                                 0
max_floor                          9119
material                              0
build_year                            0
num_room                              0
kitch_sq                              0
apartment_condition                   0
sub_area                              0
price                                 0
year                                  0
population                            0
indust_part                           0
preschool_facilities                  0
school_facilities                     0
hospital_beds_raion                9370
healthcare_facilities                 0
university_num                        0
sport_objects_facilities              0
additional_education_facilities       0
culture_objects_facilities            0
shopping_centers_facilities           0
office_num                            0
green_part                            0
prom_part                             0
cafe_count                            0
church_facilities                     0
mosque                                0
leisure_facilities                    0
dtype: int64

In [13]:
trset = feature_gen(train)
valset = feature_gen(valid)

In [16]:
trset
valset

,id,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,apartment_condition,sub_area,price,year,population,indust_part,preschool_facilities,school_facilities,hospital_beds_raion,healthcare_facilities,university_num,sport_objects_facilities,additional_education_facilities,culture_objects_facilities,shopping_centers_facilities,office_num,green_part,prom_part,cafe_count,church_facilities,mosque,leisure_facilities,month,week_of_year,day_of_week,ratio_life_full_sq,ratio_kitchen_full_sq,diff_full_life_sq,age,is_top_floor,is_ground_floor,infrastructure
0,22460,36.0,16.000000,2.0,14.0,2.0,1995,1,7.0,3.000000,82,5.182976e+06,2014,175518,0.300323,4,4,NaN,1,0,10,3,0,9,6,11.97,14.83,0,0,0,0,8,35,2,0.444444,0.194444,20.000000,-19,0,0,37
1,59777,121.0,62.000000,19.0,23.0,4.0,2007,3,19.0,4.000000,43,2.631980e+07,2014,153248,0.135650,5,5,350.0,3,0,11,3,0,11,6,3.09,0.00,11,1,0,1,8,35,2,0.512397,0.157025,59.000000,-7,0,0,57
2,31922,47.0,29.000000,1.0,12.0,1.0,1981,2,6.0,3.000000,56,5.587896e+06,2014,165727,0.133215,10,13,1406.0,3,0,13,1,0,4,3,11.61,0.00,1,1,0,0,8,35,2,0.617021,0.127660,18.000000,-33,0,1,49
3,70231,41.0,26.027585,5.0,1.0,1.0,1986,1,1.0,1.944421,105,3.923675e+06,2014,7122,0.017647,0,0,NaN,0,0,0,2,0,0,0,9.88,0.00,0,0,0,0,8,35,2,0.634819,0.024390,14.972415,-28,0,0,2
4,68508,39.0,20.000000,10.0,22.0,1.0,2000,1,10.0,3.000000,32,5.749864e+06,2014,80791,0.050756,4,4,145.0,0,0,10,2,0,1,1,0.11,0.00,6,0,0,0,8,35,2,0.512821,0.256410,19.000000,-14,0,0,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8694,90470,86.0,59.000000,3.0,9.0,2.0,1935,4,10.0,3.000000,134,2.024600e+07,2015,75377,0.000078,4,4,1046.0,3,2,29,16,10,23,141,5.64,0.80,34,1,0,1,8,32,4,0.686047,0.116279,27.000000,-80,0,0,268
8695,27132,57.0,37.555183,13.0,17.0,1.0,1988,2,1.0,1.965459,94,4.712916e+06,2015,21819,0.075779,0,0,NaN,0,0,3,3,0,2,3,21.17,14.29,0,0,0,0,8,32,4,0.658863,0.017544,19.444817,-27,0,0,11
8696,39753,40.0,26.000000,3.0,9.0,2.0,1972,2,5.0,3.000000,12,5.101992e+06,2015,104410,0.069660,7,9,NaN,1,0,8,4,0,2,4,5.47,0.00,2,0,0,0,8,32,4,0.650000,0.125000,14.000000,-43,0,0,37
8697,17374,39.0,20.000000,7.0,12.0,1.0,1982,1,8.0,3.000000,9,5.425928e+06,2015,155572,0.000070,5,5,240.0,1,0,7,3,0,16,1,14.94,6.47,4,0,0,0,8,32,6,0.512821,0.205128,19.000000,-33,0,0,42
8698,79517,37.0,23.067834,3.0,3.0,1.0,1989,1,1.0,1.000000,96,1.939000e+06,2015,6161,0.005767,0,0,NaN,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,8,33,0,0.623455,0.027027,13.932166,-26,1,0,0