In [2]:
import pandas as pd
import numpy as np

In [3]:
train_main_df = pd.read_csv(r'data\train_main_data.csv')
train_additional_df = pd.read_csv(r'data\train_additional_data.csv')

In [4]:
test_main_df = pd.read_csv(r'data\test_main_data.csv')
test_additional_df = pd.read_csv(r'data\test_additional_data.csv')

In [5]:
test_main_df.head()

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,apartment condition,sub_area
0,74544,2014-03-11,39,NaN,6.0,1.0,1.0,NaN,1.0,1.0,1.0,72
1,78384,2014-12-31,34,NaN,2.0,17.0,1.0,NaN,1.0,0.0,NaN,86
2,30355,2012-08-16,29,18.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,12
3,16306,2013-05-02,55,37.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,118
4,48126,2013-03-07,32,16.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,28

In [6]:
train_main_df = train_main_df.sort_values(by='timestamp')
train_ids = train_main_df.id.drop_duplicates()
train_df = train_main_df[:round(len(train_ids) * 0.7)]
valid_df = train_main_df[round(len(train_ids) * 0.7):]

In [7]:
train_df.shape

(20300, 13)

In [8]:
valid_df.shape

(8700, 13)

In [9]:
train_df = train_df.rename(columns={'apartment condition': 'apartment_condition'})
valid_df = valid_df.rename(columns={'apartment condition': 'apartment_condition'})
test_main_df = test_main_df.rename(columns={'apartment condition': 'apartment_condition'})